@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;
@use "../components/container" as *;

footer {
  background-color: $clr-primary900;
  padding-inline: 1em;
  padding-bottom: 3.75rem;

  > *,
  a {
    color: $clr-primary100;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;

    > *:not(.footer-column-copyright) {
      width: 50%;
    }

    .footer-column:nth-child(3),
    .footer-column:nth-child(4) {
      margin-bottom: 4.5rem;
    }

    .footer-column-copyright {
      img {
        margin-bottom: 1rem;
        max-width: 8.6rem;
      }
    }
  }
}

@include mq(sm) {
  footer {
    display: flex;
    position: relative;
    padding-inline: 0;

    .inner {
      position: relative;

      .footer-column {
        margin-right: 5rem;
      }

      .footer-column:nth-child(1),
      .footer-column:nth-child(3) {
        width: 12%;
      }

      .footer-column:nth-child(3),
      .footer-column:nth-child(4) {
        margin-bottom: 0;
      }
    }

    .footer-column-copyright {
      width: fit-content;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@include mq(lg) {
  footer {
    display: flex;
    position: relative;
    padding-inline: 0;

    .inner {
      .footer-column {
        margin-right: 2rem;
        width: 12%;
      }
    }
  }
}
