@use "../abstract/colors" as *;
@use "../abstract/breakpoints" as *;
@use "../components/container" as *;

main {
  .category-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1em;

    .category-list__item {
      display: flex;
      padding-block: 5.5rem 3.5rem;

      &:not(:first-child) {
        padding-top: 3rem;
      }

      .category-list__icon > img {
        max-width: 3.75rem;
        margin-right: 1.25rem;
      }
    }
  }
}

@include mq(xs) {
  main .category-list .category-list__item {
    display: flex;
    padding-block: 5.5rem 3.5rem;

    &:not(:first-child) {
      padding-top: 3rem;
    }

    .category-list__icon > img {
      margin-left: 2rem;
      margin-right: 0;
    }

    .category-list__content {
      margin-inline: auto;
      width: 70%;
    }
  }
}

@include mq(md) {
  main .category-list {
    padding-top: 8rem;

    .category-list__item {
      min-height: 115px;
      width: 50%;
      padding-top: 3rem;

      .category-list__icon > img {
        max-width: 5.5rem;
        margin-right: 1rem;
      }
    }
  }
}
